header{
	background-color:#1df008;
	text-align:center; 

}
main {
	text-align: center;
	background-color: 

}
footer{
	text-align: center;
	background: #bfc8be  
}


nav{
table class 
 class="egt">
			<tr>
				<th>Inglés</th>
				<th>Francés</th>
				<th>Aleman</th>

			</tr>
			<tr>
				<td>B1</td>
				<td>nivel medio</td>
				<td>ningun conocimiento</td>
				}