h1 {
	text-align: center;
	background-color: #ff0000;
}

img {
	position: relative; width: 100px; height: 100px;
 }

p {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}